body {
	background-color: #000; 
	font-size: 15px;
	font-family: 'Rationale', sans-serif;
	font-weight: 300;
   	overflow: hidden;
}

#tcont {
	display: block;
	position: absolute;
	overflow:hidden;
	border: none;
	width: 100%;
}

#nav1 {
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	margin-left: 7px;
	margin-right: 7px;
	margin-bottom: 7px;
	padding: 5px;
	background: #181818;
	z-index: 5;
	padding-top: 1px;
}

.linkgroup {
	font-size: 13px;
	color: #8C9FD9;
	margin-top: 2px;
	margin-left: 5px;
}

.linkgroup2 {
	font-size: 13px;
	color: #8C9FD9;
	margin-top: 9px;
	margin-left: 5px;
}

#tcont_outer {
	display: block;
	position: absolute;
	overflow: hidden;
	width: 100%;
	margin-left: 2px;
	margin-right: 2px;
	height: 90%;
	border: none;
	margin-top: -15px;
}

.row {
	float: left;
	width: 100%;
	padding-left: 23px;
	color: #C9C9C9;
	font-size: 12px;
	font-family: 'Droid Sans', sans-serif;
}

.row div {
	margin-right: 15px;
	display: inline !important;
}

.row span {
	width: 120px;
	min-width: 120px;
	display: inline-block;
}
