body {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;

    padding-top: 70px; 

    background-image: url(../img/background.jpg);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(248, 248, 248);
    background: url(../img/background.jpg) repeat 0 0 #f8f8f8)

}

.btn-flat {
    border-radius: 0px !important;
    margin-top: 2px !important;
}

.btn-rem:hover {
    background-color: rgb(217, 83, 79) !important;
}


#navlinks {
    position: fixed;
    right: 1px;
    top: 70px;
    z-index: 2;
    color: white;
}

#navlinks a {
    color: #333333;
    font-size: 20px;
    text-decoration: none;
}

#ab {
    background-color: #E6E6E6; 
    display: none;
}

#cloud {
    padding: 10px;
    position: fixed;
    top: 40px;
    left: 220px;
    display: none;
}

#cloud span:hover{
    border-bottom: 2px solid #6BB6D2;
}

.ctable {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
}
.release {
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 5px;
    background-color: #E6E6E6;
    background-clip: padding-box;
}

.release-hit {
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 5px;
    background-color: #D2D2D2;
    background-clip: padding-box;
}

.infos {
    text-align: left;
    vertical-align: top;
    padding: 5px;
    margin-bottom: 5px;
    color: #333333;
}

.ctable thead {
    display: none;
}

.ctable tbody tr td {
    padding: 5px;
}

.image {
    width: 100px;
}

.crop-image {
    float: left;
    width: 100px;
    height: 100px;
}

.crop-image img {
    display: block;
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
}

.crop-image:hover {
  -webkit-transform: scale(4);
  -moz-transform: scale(4);
  -o-transform: scale(4);
  transform: scale(4);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

.password {
    font-weight: bold;
}

.tags_cont {
    vertical-align: top;
}

.tags li {
    list-style-type: none;
    margin: 5px;
}

.tags li a {
    color: #333333;
    font-size: 15px;
    text-decoration:none;
}

.tags li a:hover {
    border-bottom: 2px solid #6BB6D2;
}

.links li {
    list-style-type: none;
    margin: 5px;
}

.links li a {
    color: #333333;
    font-size: 15px;
    text-decoration:none;
}

.links li a:hover {
    border-bottom: 2px solid #6BB6D2;
}

.links li span:hover {
    border-bottom: 2px solid #6BB6D2;
}
