body {
    font-size: 15px;
    font-family: 'Ubuntu', sans-serif;
    padding: 0px;

    background-image: url(../img/background.jpg);
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: repeat;
    background-repeat-y: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(248, 248, 248);
    background: url(../img/background.jpg) repeat 0 0 #f8f8f8)

}


#navlinks {
    position: fixed;
    right: 30px;
    top: 50px;
    z-index: 2;
    color: white;
    display: none;
}

#navlinks a {
    color: #333333;
    font-size: 20px;
    text-decoration: none;
}

#ab {
    background-color: #E6E6E6; 
    display: none;
}

#cloud {
    padding: 10px;
    display: none;
}

#cloud span:hover{
    border-bottom: 2px solid #6BB6D2;
}

#releases {
    position: absolute;
    overflow: auto;
    border: none;
    margin-top: 5px;
    height: 90%;
    width: 100%;
}

#releases::-webkit-scrollbar { 
}

.ctable {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-collapse: collapse;
}
.release {
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 5px;
    background-color: #E6E6E6;
    background-clip: padding-box;
}

.release-hit {
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 5px;
    background-color: #D2D2D2;
    background-clip: padding-box;
}

.infos {
    text-align: left;
    vertical-align: top;
    padding: 5px;
    margin-bottom: 5px;
    color: #333333;
}

.ctable thead {
    display: none;
}

.ctable tbody tr td {
    padding: 5px;
}

.image {
    width: 100px;
}

.crop-image {
    float: left;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.crop-image img {
    width: 130px;
}

.title {
    font-size: 17px;
    font-weight: bold;
}

.password {
    font-weight: bold;
}

.tags_cont {
    vertical-align: top;
}

.tags li {
    list-style-type: none;
    margin: 5px;
}

.tags li a {
    color: #333333;
    font-size: 15px;
    text-decoration:none;
}

.tags li a:hover {
    border-bottom: 2px solid #6BB6D2;
}

.links li {
    list-style-type: none;
    margin: 5px;
}

.links li a {
    color: #333333;
    font-size: 15px;
    text-decoration:none;
}

.links li a:hover {
    border-bottom: 2px solid #6BB6D2;
}

.links li span:hover {
    border-bottom: 2px solid #6BB6D2;
}

.button-tag {
    font-size: 12px !important;
    background: #E6E6E6 !important;
}

.button-tag:hover {
    background: rgb(202, 60, 60) !important; 
}
.button-ui {
    font-size: 12px !important;
    width: 100px;
    background: #E6E6E6 !important;
}
.button-ui:hover{
    background: rgb(28, 184, 65) !important;
}
