<!DOCTYPE html>
<html>
<head>
	<title>browse</title>
	<link rel="icon" href="assets/img/icon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/pure-min.css" />
	<link rel='stylesheet' type="text/css" href='assets/css/nprogress.css'/>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="assets/js/underscore-min.js"></script>
	<script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src='assets/js/nprogress.js'></script>
</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="#" class="pure-menu-heading">nzbcrawler</a>

    <ul>
        <li class="pure-menu-selected"><a href="#">browse</a></li>
		<li><a href="/logs">logs</a></li>
		<li><a href="/stats">stats</a></li>
		<li><a href="#" onclick="toggleActionbar()" id="toggleaction">▼</a></li>
    </ul>
</div>

<div id="ab">
<div class="pure-g">
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="app.resetViewsOffset();app.addReleases()">search</button></div>
    <div class="pure-u-1-4" id="abtags"></div>
    <div class="pure-u-1-4"><input style="margin-top: 5px;" id="abtags_input" type="text"></div>
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="AddTag()">add tag</button><button class="button-ui pure-button" onclick="AddName()">add name</button></div>
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="app.reset();app.addReleases()">reset</button></div>
    <div class="pure-u-1-4" id="abname"></div>
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="toggleCloud()">tagcloud</button></div>
</div>
</div>


<span id="navlinks">
	<a href="#" onclick="scrollToTop()">▲</a>
</span>

<div id="cloud" >
<div id="cloudlist" class="pure-g">

</div>
</div>

<div id="releases">
<table class="ctable">
<thead>
	<tr>
		<th>img</th>
		<th>infos</th>
		<th>tags</th>
		<th>links</th>
	</tr>
</thead>
<tbody id="cont">
</tbody>
</table>
</div>



<script type="text/template" id="release-list-template">
	<% _.each(releases, function(release) { %>
		<% if (release.hits > 0) { %>
			<tr class="release-hit">
		<% }else { %>
			<tr class="release">
		<% } %>
		
			<td class="image">
				<div class="crop-image" >
				<%  if (release.image == "" || release.image == undefined) { %>
					<img title="<%= release.name %>" src="/assets/404.jpg">
				<% }else {%>
					<img title="<%= release.name %>" src="<%= release.image %>" onerror="this.onerror=null;this.src='assets/404.jpg'">
				<% }%>
				</div>
			</td>
		<td class="infos">
			<% var name = getMovieName(release.name) %>
			<% if (name != null) { %>
				<span class="title"><%= name %></span>
			<% }else { %>
				<span class="title"><%= release.name %></span>
			<% } %>
			</br></br>Hits: <%= release.hits %>
			<% if ( release.password != "" && release.password != undefined ){ %> 
				</br></br><span class="password">Password: <%= release.password %></span>
			<% } %>
		</td>
		<td class="tags_cont">
			<ul class="tags">
			<% if (release.tags) { %>
			<% for (var i = release.tags.length - 1; i >= 0; i--) { %>
				<li>
					<a class="link-tags" onclick="app.addTag('<%= release.tags[i].value %>')"><%= release.tags[i].value %></a>
				</li>
			<% } %>
			<% } %>
		</td>
		<td class="tags_cont">
			<ul class="links">
				<li>
					<a target="_blank" href="/db/event/<%= release.id %>/link">link</a>
				</li>
				<li>
					<a target="_blank" href="<%= release.url %>">notrack</a>
				</li>
				<li>
				<% if (release.url.indexOf("town") != -1 ) { %>
					<% if ( release.nzb_link != "" && release.nzb_link != undefined ){ %> 
						<a target="_blank" href="/db/event/<%= release.id %>/nzb">nzb download</a>
					<% }else{ %>
						<span onclick="getNZB(this, <%= release.id %>)">get nzb</span>
					<% } %>
				<% } %>
				</li>
			</ul>
		</td>
		</tr>
	<% }); %>
</script>
<script type="text/template" id="tags-list-template">
	<% counter = tags.length/100 %>
	<% step = counter/2 %>
	<% _.each(tags, function(tag) { %>
		<% var style = "font-size: "; %>
		<% style += (240-counter)+"%;" %>
		<% style += ";" %>
		<% if(counter < 130) { counter+=step } %>

		<div class="pure-u-1-5" onclick="app.addTag('<%=tag.value%>')" style="<%=style%>"><span><%=tag.value%></span></div>
	<% }); %>
</script>
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/main.js"></script>
</body>
</html>