<!DOCTYPE html>
<html>
<head>
	<title>logs</title>
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="public/css/bootstrap-glyphicons.css" />
	<link rel="stylesheet" type="text/css" href="public/css/log.css" />
	<link href='http://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="public/js/log.js"></script>
</head>
<body>

	<div id="nav1">

		<div class="linkgroup">level: [<a id="all">all</a>] [<a id="info">info</a>] [<a id="error">error</a>]   clear: [<a id="clear">go</a>]</div>
		 <div class="linkgroup2">[<a href="/">main</a>] [<a href="#">logs</a>]</div>

    </div>

    <br>

	<div id="tcont_outer">
		<div id="tcont">
			
		</div>
	</div>
</body>
</html>
	