<!DOCTYPE html>
<html>
<head>
	<title>logs</title>
	<link rel="icon" href="assets/img/icon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/log.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/pure-min.css" />
	<link rel='stylesheet' type="text/css" href='assets/css/nprogress.css'/>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="assets/js/underscore-min.js"></script>
	<script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src='assets/js/nprogress.js'></script>
</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">nzbcrawler</a>

    <ul>
        <li><a href="/">browse</a></li>
		<li class="pure-menu-selected"><a href="#">logs</a></li>
		<li><a href="/stats">stats</a></li>
		<li><a href="#" onclick="toggleActionbar()" id="toggleaction">▼</a></li>
    </ul>
</div>

<div id="ab">
<div class="pure-g">
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="app.resetViewsOffset();app.addLogs()">search</button></div>
    <div class="pure-u-1-4" id="abtag"></div>
    <div class="pure-u-1-4"><input style="margin-top: 5px;" id="abtags_input" type="text"></div>
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="AddLevel()">add level</button><button class="button-ui pure-button" onclick="AddTag()">add tag</button></div>
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="app.reset();app.addLogs()">reset</button></div>
    <div class="pure-u-1-4" id="ablevel"></div>
    <div class="pure-u-1-4"><input style="margin-top: 5px;" id="filter" type="text"></div>
    <div class="pure-u-1-4"><button class="button-ui pure-button" onclick="Filter()">filter</button></div>
</div>
</div>


<span id="navlinks">
	<a href="#" onclick="scrollToTop()">▲</a>
</span>


<div id="releases">
<table class="ctable">
<thead>
	<tr>
		<th>time</th>
		<th>level</th>
		<th>tag</th>
		<th>message</th>
	</tr>
</thead>
<tbody id="cont">
</tbody>
</table>
</div>



<script type="text/template" id="logs-list-template">
	<% _.each(logs, function(log) { %>
		<% var filter = document.getElementById("filter").value %>
		<% if (filter != "") { %> 
			<% if(log.message.indexOf(filter) == -1) { return } %>
		<%} %>
		<% if (log.level != "info") { %>
			<tr class="release-hit">
		<% }else { %>
			<tr class="release">
 		<% } %>
		
		<td>
			<% var time = new Date(log.time*1000) %>
			<%= time.toGMTString() %>
		</td>
		<td>
			<a class="link-log" onclick="app.addLevel('<%= log.level %>')"><%= log.level %></a>
		</td>
		<td>
			<a class="link-log" onclick="app.addTag('<%= log.tag %>')"><%= log.tag %></a>
		</td>
		<td class="message">
			<%= log.message %>
		</td>
		</tr>
	<% }); %>
</script>

<script type="text/javascript" src="assets/js/log/app.js"></script>
<script type="text/javascript" src="assets/js/log/main.js"></script>
</body>
</html>