<!DOCTYPE html>
<html>
<head>
	<title>logs</title>
	<link rel="icon" href="assets/img/icon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/log.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css" />
	<link rel='stylesheet' type="text/css" href='assets/css/nprogress.css'/>
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="assets/js/underscore-min.js"></script>
	<script type="text/javascript" src="assets/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src='assets/js/nprogress.js'></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">nzbcrawler</a>
		<ul class="nav navbar-nav">
        	<li><a href="/">browse</a></li>
        	<li class="active"><a href="#">logs</a></li>
        	<li><a href="/stats">stats</a></li>
        </ul>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
	  <div class="col-md-2">
	  	<ul style="padding: 2px; list-style-type: none;">
	  		<li><input tabindex="1" id="ablevel_input" type="text" placeholder="Level..."></li>
	   		<li><input tabindex="2" id="abtags_input" type="text" placeholder="Tags..."></li>
	   		<li><div id="ablevel"></div></li>
	    	<li><div id="abtags"></div></li>
	    	<li><button tabindex="3" type="button" class="btn btn-primary btn-sm btn-flat" onclick="app.resetViewsOffset();app.addLogs()">search</button>
	    	<button tabindex="4" type="button" class="btn btn-default btn-sm btn-flat"  onclick="app.reset();app.addLogs()">reset</button></li>
    	</ul>
	  </div>
	  <div class="col-md-10" id="releases">
		<table class="table">
		<thead>
			<tr>
				<th>time</th>
				<th>level</th>
				<th>tag</th>
				<th>message</th>
			</tr>
		</thead>
		<tbody id="cont">
		</tbody>
		</table>
	  </div>
	</div>
</div>

<span id="navlinks">
	<a href="#" onclick="scrollToTop()">▲</a>
</span>


<script type="text/template" id="logs-list-template">
	<% _.each(logs, function(log) { %>
		<% if (log.level != "info") { %>
			<tr class="release-hit">
		<% }else { %>
			<tr class="release">
 		<% } %>
		
		<td>
			<% var time = new Date(log.time*1000) %>
			<%= formatDate(time, "d/M H:m:ss") %>
		</td>
		<td>
			<a class="link-log" onclick="app.addLevel('<%= log.level %>')"><%= log.level %></a>
		</td>
		<td>
			<a class="link-log" onclick="app.addTag('<%= log.tag %>')"><%= log.tag %></a>
		</td>
		<td class="message">
			<%= log.message %>
		</td>
		</tr>
	<% }); %>
</script>

<script type="text/javascript" src="assets/js/log/app.js"></script>
<script type="text/javascript" src="assets/js/log/main.js"></script>
</body>
</html>