<!DOCTYPE html>
<html>
<head>
	<title>stats</title>
	<link rel="icon" href="assets/img/icon.png" type="image/png" />
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/pure-min.css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>

</head>
<body>
<div class="pure-menu pure-menu-open pure-menu-horizontal">
    <a href="/" class="pure-menu-heading">nzbcrawler</a>

    <ul>
        <li><a href="/">browse</a></li>
		<li><a href="/logs">logs</a></li>
		<li class="pure-menu-selected"><a href="#">stats</a></li>
    </ul>
</div>

<div style="margin-right: auto; margin-left: auto; width: 800px;">

<br>
Top 10 Hits
<table class="pure-table">
	<thead>
	<tr>
	    <th>name</th>
	    <th>hits</th>
	    <th>link</th>
	</tr>
	</thead>
	<tbody>
	{{ range .Rel }}
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ .Hits }}</td>
			<td><a href="{{ .Url }}">url</a></td>
		</tr>
	{{ end }}
	</tbody>
</table>
<br>
<br>
<div style="float: left;margin-right: 20px;"> 
Top 10 Tags
<table class="pure-table">
	<thead>
	<tr>
	    <th>name</th>
	    <th>weight</th>
	</tr>
	</thead>
	<tbody>
	{{ range .Ta }}
		<tr>
			<td>{{ .Value }}</td>
			<td>{{ .Weight }}</td>
		</tr>
	{{ end }}
	</tbody>
</table>
</div>
Misc
<table class="pure-table">
	<thead>
	<tr>
	    <th># releases</th>
	    <th># tags</th>
	    <th># hits</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ .ReleaseCount }}</td>
			<td>{{ .TagCount }}</td>
			<td>{{ .HitCount }}</td>
		</tr>
	</tbody>
</table>
</br>
<table class="pure-table">
	<thead>
	<tr>
	    <th># goroutines</th>
	    <th># memory acquired</th>
	    <th># memory used</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td>{{ .GoRoutines }}</td>
			<td>{{ .MemoryAcq }}mb</td>
			<td>{{ .MemoryUsed }}mb</td>
		</tr>
	</tbody>
</table>

</div>
</body>
</html>